body{
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.wellcome{
    text-align: center; 
    font-size: 2em; 
    font-family: Arial;
    padding: 50px;
    background-color: white;
}

.box-shd {
    /* box-shadow: 5px 5px 10px gray; */
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
}

.product_list {
    background-color : white;
}

.custom-btn{
    width: 40%;
    height: 60px;
    margin-top:30px;
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
    height: auto; /* Ajusta el alto al contenido */
}

.bg-darkblue {
    background-color: #2958bd !important; /* Azul oscuro personalizado */
    color: white !important; /* Texto blanco para contraste */
}

.bg-darkcyan {
    background-color: rgb(114, 12, 161) !important; /* Azul oscuro personalizado */
    color: white !important; /* Texto blanco para contraste */
}

/* Contenedor principal */
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr; /* Fila superior tamaño automático, fila inferior flexible */
    grid-template-columns: 1fr; /* Una sola columna general */
    height: 100vh; /* Ocupar toda la pantalla */
}

/* Sección superior */
.header {
    background: transparent;
    text-align: start;
    font-size: 20px;
}

.header.box-shd {
    border-radius: 6px;
}

.navbar {
    border-radius: 6px !important;
    overflow: hidden; /* Evita esquinas blancas */
}

/* Contenedor de la sección inferior */
.bottom-section {
    display: grid;
    grid-template-columns: 1fr 570px; /* Columna fija + columna flexible */
}

/* Columna izquierda (fija) */
.left-panel {
    margin-top: 0px;
    padding: 0px;
}

/* Columna derecha (ocupa el resto) */
.right-panel {
    padding: 0px;
    margin-right: 0px;
}

.card {
    border-radius: 12px;
    margin-top: 0px; /* Alineación arriba dentro del contenedor */
}
.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

.table-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

td, th {
    width: auto;
    white-space: nowrap; /* Evita saltos de línea */
}

.td-container {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    gap: 10px; /* Espacio entre los elementos */
}

.rotate-icon {
    transition: transform 0.3s ease-in-out;
}

.collapsed .rotate-icon {
    transform: rotate(180deg);
}

.form-select {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    line-height: 1.5;
}

.form-label-select {
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 1.5;
}

#btnExportar {
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#btnExportar img {
    width: 30px;
    height: auto;
    cursor: pointer; /* Hace que el cursor sea de tipo botón */
}