<div class="bottom-section"> 
    <div class="left-panel">
        
       <div class="card mt-2 box-shd">
            <div class="card-header bg-primary text-white text-center fs-5 fw-bold">
                <span id="tituloCheques">
                    Cheques
                </span>
               <span id="btnExportar" title="Exportar a Excel">
                    <i class="fas fa-download rotate-icon"></i>
                </span>

            </div>
            <div class="table-container">
                <table class="table table-bordered text-center caption-top">
                    <thead class="table-primary">
                        <tr>
                            <th>Numero</th>
                            <th>Emision</th>
                            <th>Vencimiento</th>
                            <th>Importe</th>
                            <th>Nombre</th>
                            <th>Conciliado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody id="tablaCheques">
                            
                    </tbody>
                </table>
                
                <!-- Paginación -->
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#" id="prevPage">Anterior</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" id="currentPage">1</a></li>
                        <li class="page-item"><a class="page-link" href="#" id="nextPage">Siguiente</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="right-panel">

         <!-- Filtro -->
         <div class="d-flex justify-content-end mt-2">
            <div class="card box-shd" style="width: 550px;">
                <div class="card-header bg-primary text-white fs-5 fw-bold">
                     <button class="btn btn-primary collapsed fs-5 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#filtroCollapse">
                        Filtros <i class="fas fa-chevron-down rotate-icon"></i>
                    </button>
                </div>
                <div id="filtroCollapse" class="collapse">
                        <div class="card-body">
                            <form id="filtroForm">
                                <!-- Combo de Bancos -->
                                <div class="col-md-4 w-100">
                                    <label for="bancoFiltro" class="form-label-select">Banco</label>
                                    <select id="bancoFiltro" class="form-select" required>
                                        <option value="">Seleccione un banco</option>
                                        <!-- Opciones agregadas dinamicamente -->
                                    </select>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label for="emisiondesde">Emision desde</label>
                                        <input type="date" id="emisiondesde" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="emisionhasta">Emision hasta</label>
                                        <input type="date" id="emisionhasta" class="form-control">
                                    </div>
                                </div>  

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label for="vencimientodesde">Vencimiento desde</label>
                                        <input type="date" id="vencimientodesde" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="vencimientohasta">Vencimiento hasta</label>
                                        <input type="date" id="vencimientohasta" class="form-control">
                                    </div>
                                   
                                </div>  
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label for="importedesde">Importe desde</label>
                                        <input type="number" id="importedesde" class="form-control" required>
                                    </div>
                                     <div class="col-md-4">
                                        <label for="importehasta">Importe hasta</label>
                                        <input type="number" id="importehasta" class="form-control" required>
                                    </div>
                                      <!-- Check Conciliado -->
                                    <div class="col-md-4">
                                        <label for="conciliadoFiltro" class="form-label-select">Estado</label>
                                        <select id="conciliadoFiltro" class="form-select">
                                            <option value="1">Todos</option>
                                            <option value="2">Conciliado</option>
                                            <option value="3">No Conciliado</option>
                                        </select>
                                    </div>
                             </div>
                                <div class="form-group mt-3">
                                    <div class="col-md-4 w-100">
                                            <label for="nombreFiltro">Nombre</label>
                                            <input type="text" id="nombreFiltro" class="form-control">
                                    </div>
                                </div>
                                <!-- Botón Aplicar Filtro -->
                                <div class="container d-flex justify-content-end mt-3">
                                    <button type="button" id="aplicafiltro" class="btn btn-success box-shd" data-bs-toggle="tooltip" data-bs-placement="top" title="Aplicar Filtro">
                                        <i class="fas fa-filter"></i>
                                    </button>
                                     <button type="button" id="limpiafiltro" class="btn btn-danger box-shd" data-bs-toggle="tooltip" data-bs-placement="top" title="Limpiar Filtro" style="margin-left: 15px;">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>

                            </form>
                        </div>
                </div>
            </div>
         </div>

        <div class="d-flex justify-content-end">
            <div class="card mt-2 box-shd" style="width: 550px;">
                <div class="card-header bg-primary text-white fs-5 fw-bold">
                    Cheque
                </div>
                
                <div class="card-body">
                    <form id="chequeForm">
                        <input type="hidden" id="idCheque"> <!-- Campo oculto para manejar la edición -->
                        <input type="hidden" id="banco"> <!-- Campo oculto para manejar la edición -->
                        <!-- Banco -->
                        {{!-- <div class="form-group mb-3">
                            <label for="banco">Banco</label>
                            <select class="form-select" id="banco" required>
                                <option value="">Seleccione un banco</option>
                                <!-- Opciones cargadas dinámicamente -->
                            </select>
                        </div> --}}
                        
                        <!-- Número Desde, Número Hasta y Habilitado en la misma línea -->
                        <div class="row">
                            <!-- Código de Chequera -->
                            <div class="col-md-4">
                                <label for="numero">Numero</label>
                                <input type="text" id="numero" class="form-control" maxlength="10" required>
                            </div>
                            <div class="col-md-4">
                                <label for="emision">Emision</label>
                                <input type="date" id="emision" class="form-control" required>
                            </div>
                            <div class="col-md-4">
                                <label for="vencimiento">Vencimiento</label>
                                <input type="date" id="vencimiento" class="form-control" required>
                                {{!-- <div class="invalid-feedback">La fecha "Vencimiento" debe ser mayor que la fecha "Emision".</div> --}}
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div class="col-md-4 w-100">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" id="nombre" class="form-control" required>
                            </div>
                        </div>
                        <div class="row mt-3">
                             <div class="col-md-4">
                                <label for="importe">Importe</label>
                                <input type="number" id="importe" class="form-control" required>
                            </div>
                            <div class="col-md-4">
                                <label for="fechaconciliacion">Conciliado</label>
                                <input type="date" id="fechaconciliacion" class="form-control">
                                {{!-- <div class="invalid-feedback">La fecha "Conciliacion" debe ser mayor que la fecha "Vencimiento".</div> --}}
                            </div>
                            <div class="col-md-4 mt-4 toggle-container">
                                <input type="checkbox" id="conciliado" class="form-check-input">
                            </div>
                        </div>                   
                        <!-- Botones -->
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-success box-shd" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuevo Cheque" id="btnNuevo">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            <button type="submit" class="btn btn-primary box-shd" data-bs-toggle="tooltip" data-bs-placement="top" title="Guardar Cheque" style="margin-left: 15px;">
                                <i class="fa-solid fa-floppy-disk"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Procesando datos -->
<div id="loadingOverlay" class="loading-overlay d-none">
    <div class="loading-content">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Procesando...</span>
        </div>
        <p class="mt-2 text-white">Procesando datos...</p>
    </div>
</div>

<!-- Modal de Confirmación -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="pTitleToDelete">
                ¿Estás seguro de que quieres eliminar este producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div id="toastContainer" class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 1050;"></div>

<script src="static/js/utils.js"></script>
<script src="static/js/cheques.js"></script>