<div class="bottom-section"> 
    <div class="left-panel">
        <div class="card mt-2 box-shd">
            <div class="card-header bg-primary text-white text-center fs-5 fw-bold">
                Chequeras
            </div>
            <!-- Tabla -->
            <div class="table-container">
  
                <table class="table table-bordered text-center caption-top">
                    <thead class="table-primary">
                        <tr>
                            <th>Banco</th>
                            <th>Codigo</th>
                            <th>Desde</th>
                            <th>Hasta</th>
                            <th>Habilitada</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody id="tablaChequeras">
                            
                    </tbody>
                </table>
                
                <!-- Paginación -->
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#" id="prevPage">Anterior</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" id="currentPage">1</a></li>
                        <li class="page-item"><a class="page-link" href="#" id="nextPage">Siguiente</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="d-flex justify-content-end">
            <div class="card mt-2 box-shd" style="width: 550px;">
                 <div class="card-header bg-primary text-white text-center fs-5 fw-bold">
                    Chequera
                </div>
                <div class="card-body">
                    <form id="chequeraForm">
                        <input type="hidden" id="idChequera"> <!-- Campo oculto para manejar la edición -->
                        <!-- Banco -->
                        <div class="form-group mb-3">
                            <label for="banco">Banco</label>
                            <select class="form-select" id="banco" required>
                                <option value="">Seleccione un banco</option>
                                <!-- Opciones cargadas dinámicamente -->
                            </select>
                        </div>

                        
                        <!-- Número Desde, Número Hasta y Habilitado en la misma línea -->
                        <div class="row">
                            <!-- Código de Chequera -->
                            <div class="col-md-4">
                                <label for="codigo">Código</label>
                                <input type="text" id="codigo" class="form-control" maxlength="10" required>
                            </div>

                            <div class="col-md-4">
                                <label for="numeroDesde">Número Desde</label>
                                <input type="number" id="numdesde" class="form-control" required>
                                <div class="invalid-feedback">Debe ingresar un número válido.</div>
                            </div>
                            <div class="col-md-4">
                                <label for="numeroHasta">Número Hasta</label>
                                <input type="number" id="numhasta" class="form-control" required>
                                <div class="invalid-feedback">Debe ingresar un número válido.</div>
                            </div>
                        
                        </div>
                        <div class="mt-4 toggle-container">
                            <label for="habilitado">Habilitado</label>
                            <input type="checkbox" id="habilitada" class="form-check-input">
                        </div>
                        <!-- Botones -->
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-success box-shd" data-bs-toggle="tooltip" data-bs-placement="top" title="Nueva Chequera" id="btnNuevo">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            <button type="submit" class="btn btn-primary box-shd" data-bs-toggle="tooltip" data-bs-placement="top" title="Guardar Chequera" style="margin-left: 15px;">
                                <i class="fa-solid fa-floppy-disk"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="pTitleToDelete">
                ¿Estás seguro de que quieres eliminar este producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div id="toastContainer" class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 1050;"></div>

<script src="static/js/utils.js"></script>
<script src="static/js/chequeras.js"></script>